 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(215, 179, 215) ;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1{
    text-align: center;
    color: #05062f;
}

.visualization-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.visualization {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.chart-container {
    width: 45%;
    height: 400px;
}

img{
    border-radius: 15px;
}

graph{
    float: left;
    font-size: large;
    font-style: italic; 
    padding: 5px 5px 10px 10px;
    border: #05062f;
    border-radius: 6px; 
    background-color: #dcd3d3; 
    display: center;
    width: 500px;
    height: 280px;
    padding-left: 60px;
    padding-bottom: 30px;
    margin-left: 520px;
    margin-bottom: 100px;
    padding-top: 30px;
}

button{
    width: 155px;
    height: 60px;
    border: rgb(55, 55, 255);
    border-radius: 3px;
    margin: 5px;
}

