<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TOC</title>
  <link rel="stylesheet" href="/static/index.css">
</head>

<body>
  <header></header>
  <div class="container">
    <h1>Train Operating Companies</h1>
    <p>Welcome,</p>
    <form action="{{ url_for('login') }}" method="post">
      
      # Use your own logic as required
      <p>Proceed to obtain the powerful insights on your Data!!!!</p>
      <button type="submit">Proceed</button>
    </form>
  </div>
</body>

</html>
